This handler should get following parameters in request_body:

command: This parameter would have the actual gta progress bar command as value.
Example:

"command":"gta pg new_goal"
"username":"john_doe"


======================
Creation of tables:
This handler saves data to DDB since this is based on lambda and there's no local storage.

Table creation can take time, so this should be created before hand in an account before setting up the handlers using following commands:

import boto3
client = boto3.client('dynamodb') #default us-west-2

client.create_table(TableName="tasks_handler_life",KeySchema=[
        {
            'AttributeName': 'user_name',
            'KeyType': 'HASH'
        }],
        AttributeDefinitions=[
        {
            'AttributeName': 'user_name',
            'AttributeType': 'S'
        }],
        ProvisionedThroughput={
        'ReadCapacityUnits': 10,
        'WriteCapacityUnits': 10
        }
)

client.create_table(TableName="tasks_handler_goals",KeySchema=[
        {
            'AttributeName': 'goal_name',
            'KeyType': 'HASH'
        }],
        AttributeDefinitions=[
        {
            'AttributeName': 'goal_name',
            'AttributeType': 'S'
        }],
        ProvisionedThroughput={
        'ReadCapacityUnits': 10,
        'WriteCapacityUnits': 10
        }
)


client.create_table(TableName="tasks_handler_categories",KeySchema=[
        {
            'AttributeName': 'category_name',
            'KeyType': 'HASH'
        }],
        AttributeDefinitions=[
        {
            'AttributeName': 'category_name',
            'AttributeType': 'S'
        }],
        ProvisionedThroughput={
        'ReadCapacityUnits': 10,
        'WriteCapacityUnits': 10
        }
)
